.git
.gitignore
.env
.env.*
node_modules
vendor
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
writable/uploads/*
!writable/uploads/.gitkeep
docker-compose.yml
Dockerfile
.dockerignore
README.md
*.md
.vscode
.idea
tests
phpunit.xml.dist

